<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.2.7" package="com.busidex" android:versionCode="526">
	<uses-sdk android:targetSdkVersion="19" android:minSdkVersion="16" />
	<application android:label="Busidex" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.READ_OWNER_DATA" />
	<activity android:name="Busidex.Presentation.Android.SearchActivity" android:orientation="vertical" />
</manifest>